In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

%matplotlib inline

In [4]:
import os
print(os.getcwd())

E:\kaggle\PrudentialLifeInsuranceAssessment

In [9]:
anime = pd.read_csv('E:/kaggle/AnimeRecommendations/anime.csv')
rating = pd.read_csv('E:/kaggle/AnimeRecommendations/rating.csv')

In [10]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [11]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [13]:
anime['type'].value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [21]:
rating[(rating["user_id"] ==1) & (rating["rating"] ==10)]

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10

In [38]:
anime[anime['anime_id'].isin([47,71,83,101])]

,anime_id,name,genre,type,episodes,rating,members
358,47,Akira,"Action, Adventure, Horror, Military, Sci-Fi, S...",Movie,1,8.15,215897
829,71,Full Metal Panic!,"Action, Comedy, Mecha, Military, Sci-Fi",TV,24,7.81,256325
1616,101,Air,"Drama, Romance, Slice of Life, Supernatural",TV,13,7.48,188861
3559,83,Mobile Suit Gundam: The 08th MS Team - Miller&...,"Drama, Mecha, Military, Romance, Sci-Fi",Movie,1,6.95,8078

In [39]:
anime.shape

(12294, 7)

In [40]:
rating.shape

(7813737, 3)

In [41]:
rating[rating['user_id']==1].rating.mean()

-0.7124183006535948

In [55]:
MRPU = rating.groupby(['user_id']).mean().reset_index()
MRPU['mean_rating'] = MRPU['rating']
MRPU.drop(['anime_id','rating'],axis=1, inplace=True)
#MRPU

In [61]:
vote = rating[rating['rating'] != -1]
MRPU2 = vote.groupby(['user_id']).mean().reset_index()
MRPU2['vote_mean_rating'] = MRPU2['rating']
MRPU2.drop(['anime_id','rating'],axis=1, inplace=True)
#MRPU2

In [67]:
user = pd.merge(rating,MRPU,on=['user_id','user_id'])
user = pd.merge(user,MRPU2,on=['user_id','user_id'])
user.head()

   user_id  anime_id  rating  mean_rating  vote_mean_rating
0        1        20      -1    -0.712418              10.0
1        1        24      -1    -0.712418              10.0
2        1        79      -1    -0.712418              10.0
3        1       226      -1    -0.712418              10.0
4        1       241      -1    -0.712418              10.0

In [69]:
user = user.drop(user[user.rating < user.mean_rating].index)

In [70]:
print (user.shape,rating.shape)

(3870885, 5) (7813737, 3)